---
import Layout from '../layout/BaseLayout.astro';
import HeroSection from '../components/home/HeroSection.astro';
import DepartmentSection from '../components/home/DepartmentSection.astro';
import '../styles/pages/index.css';
---

<Layout 
  title="网络开拓者协会 - 北京理工大学"
  description="北京理工大学网络开拓者协会（BITNP）官方网站。校园网服务、NPLive直播、BITHESIS LaTeX模板等。"
  fullWidth={true}
  showFooter={false}
>
  <div class="scroll-container">
    <section class="page-section" id="page-1">
      <HeroSection />
    </section>
    <section class="page-section" id="page-2">
      <DepartmentSection />
    </section>
  </div>
</Layout>